asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.3
django-ckeditor==5.8.0
django-js-asset==1.2.2
django-recaptcha3==0.1.0
idna==2.9
Pillow==7.0.0
pytz==2019.3
requests==2.23.0
six==1.13.0
sqlparse==0.3.0
transliterate==1.10.2
urllib3==1.25.8
celery==4.4.1
redis==3.4.1
django-modeltranslation==0.14.4